#optionsPage, #option-container, #scoreContainer{
  background: #f2f2f2;
}

#option-container{
    width:80%;
    margin-top: .0005%;
    margin-left: 2%;
    margin-right: 0%;
    float:right;
}
#optionTitle {
  margin-bottom: 2%;
  text-align: center;
}

#row1,
#row2,
#row3,
#rowSub {
  margin-bottom: 1%;
  margin-left: 10%;
}

#scoreContainer{
   float:right;
   width:15%;
   margin-top: .0005%;
   height:100%;
}

#scoreTitle {
  margin-bottom: 2%;
  text-align: center;
  
}

#team {
  width: 100%;
  padding-right: 20%;
  margin-right: 5%;
}

#mark1-a:hover, #mark1-b:hover, #mark1-c:hover, #mark2-a:hover, #mark2-b:hover, #mark2-c:hover, #mark3-a:hover, #mark3-b:hover, #mark3-c:hover {
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
}

#mark1-a, #mark2-a, #mark3-a{
  background:linear-gradient(135deg, #fcdf8a 0%,#f38381 100%);
}

#mark1-b, #mark2-b, #mark3-b{
  background:linear-gradient(135deg, #fcdf8a 0%,#f38381 100%);
}

#mark1-c,#mark2-c,#mark3-c{
  background:linear-gradient(135deg, #fcdf8a 0%,#f38381 100%);
}