#option-container{
    width:90%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
#optionTitle{
    margin-bottom:2%;
    text-align: center;
}

#row1, #row2, #row3{
    margin-bottom: 1%;
}